<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Skillhub{% endblock %}</title>
        {% block stylesheets %}
{#            TODO -> mettre des choses ici (un jour (peut-être))#}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {%  block header %}
{#                TODO -> header (barre de recherche, logout)#}
            {%  endblock header %}

            {%  block footer %}
{#                TODO -> footer (what you know xD )#}
            {%  endblock footer %}
        {% endblock %}
    </body>
</html>
