<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Skillhub{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
{#            TODO -> mettre des choses ici (un jour (peut-être))#}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    {%  block header %}
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {%  endblock header %}


    {% block body %}
        <p>Y'a rien ici !! ¯\_(ツ)_/¯</p>
    {% endblock %}

    {%  block footer %}
        <p style="position: absolute; bottom: 25px; text-align: center">
            <a href="https://www.keepcalmandcarryon.com/buy-keep-calm-variations-and-memes/?shortcode=wRqBhodqmmqS" title="keep calm and carry on">
                Get the merch !
            </a>
        </p>
    {%  endblock footer %}

    </body>
</html>
